@{
    ViewBag.Title = "The Joel Hilton Movie Collection";
}

<div class="text-center font-weight-bolder">
    <h1 class="display-4">@ViewBag.Title</h1>
    <img src="~/img/assignment3.jpg" width="600" style="outline: solid #f6b55f 6px" />
</div>

