@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Page = "My Podcasts";
}
<h1>@ViewBag.Page</h1>

<p><a href="https://baconsale.com">Click here</a> to view my podcast, Baconsale.</p>
